blockquote {
  margin: 0;
  border-left: 4px solid #ddd;
}

body {
  background: white;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 14px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

pre,
code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, .05);
  border-radius: 3px;
}

@font-face {
  font-family: 'calligraffittiregular';
  src: url('/fonts/calligraffitti-regular-webfont.eot');
  src: url('/fonts/calligraffitti-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/calligraffitti-regular-webfont.woff2') format('woff2'),
    url('/fonts/calligraffitti-regular-webfont.woff') format('woff'),
    url('/fonts/calligraffitti-regular-webfont.ttf') format('truetype'),
    url('/fonts/calligraffitti-regular-webfont.svg#calligraffittiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.name {
  font-family: 'calligraffittiregular';
  font-weight: 800;
}