.DS_Store
*.swp

node_modules/
build/

yarn-error.log
npm-debug.log
lerna-debug.log

coverage/
.cache/


yarn.lock
*package-lock.json
package-lock.json

dist/

.cache
.rts2_cache_cjs
.rts2_cache_esm
.rts2_cache_umd
.rts2_cache_system